

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure you want to delete this item?</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fa fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                @*@Html.ActionLink("Yess", "GetAgencyDetail", "Agency", new { agency_id = 4 }, null)*@
                <a href="#" onClick="yourFunction(); return false;" class="btn  btn-outline-danger">Yes</a>
                @*<a href="@Url.Action("removeAgency", "Agency", new {agency_id = 4})" class="btn  btn-outline-danger">Yes</a>*@
                <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<input type="hidden" id="agencyHidden"  />
<!--Modal: modalConfirmDelete-->    

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Request Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                <b>ID:</b><br>
                <p class="rqID"></p>
                <p>
                <b>Company:</b><br>
                <p class="rqName"></p>
                <p>
                <b>Account:</b><br>
                <p class="rqCD"></p>
                <p>
                <b>Agency Name:</b><br>
                <p class="rqAN"></p>
                <p>
                <b>Address:</b><br>
                <p class="rqIT"></p>
                <p>
                <b>Telephone:</b><br>
                <p class="rqIN"></p>
                    

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createAgency" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Request Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                <b>Company:</b>
                <select class="form-control" id="q">
                </select>
                <p>
                <b>Account:</b><br>
                <select class="form-control" id="w">

                </select>
                <p>
                <b>Name</b><br>
                <input id="e" type="text">
                <p>
                <b>Address:</b><br>
                <input id="r" type="text">
                <p>
                <b>Telephone:</b><br>
                <input id="t" type="text">
                <p>
                    

            </div>
            <div class="modal-footer">
                <a href="#" onClick="createAgency();" class="btn  btn-outline-danger">Create</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!-- Datatable -->
<div class="row col-md-12">
    <div class="col-md-1">
        <button type="button" class="btn btn-block btn-primary" onclick="showCreate(), showAcc()">Create</button>
    </div>
    <table id="detail-table" class="table table-hover" cellspacing="0" style="table-layout: auto">
        <thead>
        <tr>
            <th><label>STT</label></th>
            <th><label>Company Name</label></th>
            <th><label>Account Name</label></th>
            <th><label>Name</label></th>
            <th><label>Address</label></th>
            <th><label>Telephone</label></th>
            <th><label>Create Date</label></th>
            <th><label>Update Date  </label></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            loadCompany();
        });

        function loadCompany() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllAgency", "Agency")',
                data: {

                },
                success: function(result) {
                    initDatatable(result.result);
                },
                error: function(error) {
                    showMessage("Cõ lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }
        function initDatatable(data) {
            $("#detail-table").dataTable().fnDestroy();
            $("#detail-table").dataTable({
                stateSave: true,
                "bFilter": true,
                "bSort": false,
                "data": data,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "bProcessing": true,
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "Thành phần con",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8],
                        "bSortable": false,
                        "sClass": "text-center"
                    },

                    //{
                    //    "aTargets": [7],
                    //    "mRender": function (data, type, row) {
                    //        var edit = "<a title='Chỉnh sửa' class='btn btn-sm btn-primary' onclick='callShowEditModal(" + data + ")'><i class='glyphicon glyphicon-pencil'></i></a>";
                    //        var del = "<a title='Xóa' class='btn btn-sm btn-danger' onclick='deleteElementChil(" + data + ")'><i class='glyphicon glyphicon-trash'></i></a>";
                    //        return edit + " " + del;
                    //    },
                    //}

                ],
                "columns": [
                    { "data": "AgencyId" },
                    { "data": "CompanyName" },
                    { "data": "UserName" },
                    { "data": "AgencyName" },
                    { "data": "Address" },
                    { "data": "Telephone" },
                    { "data": "CreateAt" },
                    { "data": "UpdateAt" },
                    {
                        "data": "RequestName",
                        "mRender": function ( data, type, full ) {
                            return '<a href="AgencyDevice/' + full.AgencyId + '">View All Device</a>';
                        }
                    },
                    {
                        "mRender": function(data, type, full) {
                            return ' <button type="button" class="btn btn-info fa fa-eye" data-toggle="modal" data-target="" onclick="getData(' + full.AgencyId+')"></button>';
                        }
                    },
                    {
                        "mRender": function (data, type, full) {
                            return ' <button type="button" class="btn btn-warning fa fa-pencil" data-toggle="modal" data-target="" onclick="getData(' + full.AgencyId + ')"></button>';
                        }
                    },
                    {
                        "mRender": function (data, type, full) {
                            return ' <button type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="" onclick="removeAg(' + full.AgencyId + ')"></button>';
                        }
                    },
                ],
                "bAutoWidth": false,
            });
        }

        function getData(id) {

            $.ajax({
                url: '@Url.RouteUrl(new {action = "GetAgencyDetail", controller = "Agency"})',

                data: {
                    agency_id: id
                },
                type: 'GET',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".rqID").text(data.result.AgencyId);
                    $(".rqName").text(data.result.CompanyName);
                    $(".rqCD").text(data.result.UserName);
                    $(".rqAN").text(data.result.AgencyName);
                    $(".rqIT").text(data.result.Address);
                    $(".rqIN").text(data.result.Telephone);

                }
            });
            $('#exampleModal').modal('show');
        }
        function yourFunction() {
            var agency_idd = $('#agencyHidden').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("RemoveAgency", "Agency")',
                data: {
                    agency_id: agency_idd
                },
                
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#modalConfirmDelete').modal('hide')                    
                    loadCompany();
                }
            });
        }
        function removeAg(id) {
            $('#modalConfirmDelete').modal('show');
            $('#agencyHidden').val(id);
        }
        function showCreate() {
            $('#modalConfirmDelete').modal('hide');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllCompany", "Home")',
                data: {
                    
                },
                
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#createAgency').modal('show');
                    var len = data.result.length;
                    var html = '';
                    for (var i = 0; i< len; i++) {
                        html += '<option value="' + data.result[i].CompanyId + '">' + data.result[i].CompanyName + '</option>';
                    }
                    $('#q').append(html);

                }
            });

        }

        function showAcc() {
            $('#modalConfirmDelete').modal('hide')
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllAccount", "Account")',
                data: {
                    
                },
                
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var len = data.result.length;
                    var html = '';
                    for (var i = 0; i< len; i++) {
                        html += '<option value="' + data.result[i].AccountId + '">' + data.result[i].Username + '</option>';
                    }
                    $('#w').append(html);

                }
            });

        }
        function createAgency() {
            var empObj = {
                CompanyId: $('#q').val(),
                AccountId: $('#w').val(),
                AgencyName: $('#e').val(),
                Address: $('#r').val(),
                Telephone: $('#t').val(),
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateAgency", "Agency")',
                data: JSON.stringify(empObj),
                
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#createAgency').modal('hide'),
                        loadCompany();
                }
            });
        }


    </script>

}