@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- /.modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>
                    <b>Message:</b><br>
                    <input class="message-edit-text" type="text" size="20">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>

                </div>
                <div class="modal-body">

                    <p>
                        <b>Tên Công Ty:</b><br>
                    <p id="comName"></p>
                    <p>
                        <b>Mô Tả:</b><br>
                    <p id="comDescription"></p>
                    <p>
                        <b>Ngày Tạo:</b><br>
                    <p id="comCreateDate"></p>
                    <p>
                        <b>Lần Chỉnh Sửa Cuối:</b><br>
                    <p id="comUpdateDate"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!--deletemodal-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure you want to delete this item?</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fa fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a href="#" onClick="deleteCompany(); return false;" class="btn  btn-outline-danger">Yes</a>
                <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<input type="hidden" id="companyHidden" />
<div class="container">
    <!-- Modal -->
    <div class="modal fade2" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                </div>
                <div class="modal-body">
                    <p>
                    <p id="id"></p>
                    <p>
                        <b>Tên Công Ty:</b><br>
                        <input type="text" id="comNameCreate"></input>
                    <p>
                        <b>Mô Tả:</b><br>
                        <input type="text" id="comDescriptionCreate"></input>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createCompany()">Create New</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>
                    <b>Tên Công TY:</b><br>
                    <input type="text" id="comNameEdit"></input>
                <p>
                    <b>Mô Tả:</b><br>
                    <input type="text" id="comDescriptionEdit"></input>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="UpdateCompany()">Chỉnh Sửa</button>
            </div>
        </div>
    </div>
</div>

<!-- Datatable -->
<div class="row col-md-12">

    <table id="detail-table" class="table table-hover" cellspacing="0" style="table-layout: auto">
        <thead>
            <tr>
                <th><label>STT</label></th>
                <th><label>Tên Công Ty</label></th>
                <th><label>Thông Tin</label></th>
                <th><label>Ngày Tạo</label></th>
                <th><label>Store</label></th>
                <th><label>Chức Năng</label></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="NewThing">
        <button type="button" class="btn btn-primary fa fa-plus" data-toggle="modal" data-target="" onclick="showCreateModal()"><font face="verdana"> Tạo Công Ty</button>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
    <script>
        $(document).ready(function() {
            loadCompany();
        });

        function loadCompany() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllCompany", "Company")',
                data: {
                },
                success: function (result) {
                    initDatatable(result.result.ObjReturn);
                },
                error: function(error) {
                    showMessage("Cõ lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }
        function initDatatable(data) {
            $("#detail-table").dataTable().fnDestroy();
            $("#detail-table").dataTable({
                stateSave: true,
                "bFilter": true,
                "bSort": false,
                "data": data,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "bProcessing": true,
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "Thành phần con",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2, 3,4],
                        "bSortable": false,
                        "sClass": "text-center"
                    },
                ],
                "columns": [
                    { "data": "NumericalOrder" },
                    { "data": "CompanyName" },
                    { "data": "Description" },
                    { "data": "CreateDate" },
                    {
                        "data": "RequestName",
                        "mRender": function (data, type, full) {
                            return '<a href="CompanyAgency/' + full.CompanyId + '">Xem Chi Nhánh</a>';
                        }
                    },
                    {
                        "aTargets": [4],
                        "mRender": function (data, type, full) {
                            var view = ' <button type="button" class="btn btn-info fa fa-eye" data-toggle="modal" data-target="" onclick="getData(' + full.CompanyId + ')"></button>';
                            var edit = ' <button type="button" class="btn btn-warning fa fa-pencil" data-toggle="modal" data-target="" onclick="getDataEdit(' + full.CompanyId + ')"></button>';
                            var del = ' <button type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="" onclick="removeCompany(' + full.CompanyId + ')"></button>';
                            return view + " " + edit + " " + del;
                        }
                    },
                ],
                "bAutoWidth": false,
            });
        }
        function showCreateModal() {
            $('#CreateModal').modal('show');
        }
        function getData(idd) {

            $.ajax({
                url: '@Url.RouteUrl(new {action = "ViewDetail", controller = "Company" })',

                data: {
                    company_id: idd
                },
                type: 'GET',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#comName").text(data.result.ObjReturn.CompanyName);
                    $("#comDescription").text(data.result.ObjReturn.Description);
                    $("#comCreateDate").text(data.result.ObjReturn.CreateDate);
                    $("#comUpdateDate").text(data.result.ObjReturn.UpdateDate);
                }
                });
            $('#ViewModal').modal('show');
        }


        function getDataEdit(id) {
            $.ajax({
                url: '@Url.RouteUrl(new {action = "ViewDetail", controller = "Company" })',

                data: {
                    company_id: id
                },
                type: 'GET',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#id").val(data.result.ObjReturn.CompanyId);
                    $("#comNameEdit").val(data.result.ObjReturn.CompanyName);
                    $("#comDescriptionEdit").val(data.result.ObjReturn.Description);
                }
            });
            $('#EditModal').modal('show');
        }
        function UpdateCompany() {
            var empObj = {
                CompanyId: $('#id').val(),
                CompanyName: $('#comNameEdit').val(),
                Description: $('#comDescriptionEdit').val(),
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateCompany", "Company")',
                data: JSON.stringify(empObj),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#EditModal').modal('hide');
                    if (!data.result.isError) {
                        alert(data.result.SuccessMessage);
                    }
                    else
                        alert(data.result.WarningMessage);
                    loadCompany();
                }
            });
        }
        function createCompany() {
            var empObj = {
                CompanyName: $('#comNameCreate').val(),
                Description: $('#comDescriptionCreate').val(),
            }
             $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateCompany", "Company")',
                data: JSON.stringify(empObj),

                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    $('#CreateModal').modal('hide');
                        if (!data.result.isError) {
                            swal(data.result.SuccessMessage, "", "success");
                        }
                        else
                            swal(data.result.WarningMessage, "", "error");

                    loadCompany();
                }
            });
        }
        function removeCompany(id) {
            $('#modalConfirmDelete').modal('show');
            $('#companyHidden').val(id);
        }
        function deleteCompany() {
            var company_id = $('#companyHidden').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("RemoveCompany", "Company")',
                data: {
                    company_id: company_id
                },

                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#modalConfirmDelete').modal('hide')
                    loadCompany();
                }
            });
        }

    </script>

}

